= f.fields_for :exercise_sets do |exercise_set_form|
  = exercise_set_form.collection_select :exercise_id, Exercise.all, :id, :name
  %br
  = exercise_set_form.label :reps, "Number of Reps"
  = exercise_set_form.number_field :reps
  = exercise_set_form.label :rest_period, "Rest Period (s)"
  = exercise_set_form.number_field :rest_period
  %br
  = exercise_set_form.label :suggested_weight, "Target Weight (total kg)"
  =exercise_set_form.text_field :suggested_weight
  = exercise_set_form.label :achieved_weight, "Achieved Weight (total kg)"
  =exercise_set_form.text_field :suggested_weight
  = exercise_set_form.link_to_remove 'Remove'
  %br
= f.link_to_add 'Add a Set', :exercise_sets