= nested_form_for(@workout) do |f|
  - if @workout.errors.any?
    #error_explanation
      %h2
        = pluralize(@workout.errors.count, "error")
        prohibited this workout from being saved:
      %ul
        - @workout.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-5
      - if (@editing && @workout.user)
        %h4.client_name
          = @workout.user.full_name
      - else
        .field.force_block
          = f.label :user_id, "Client:"
          = f.select(:user_id, User.all.map {|u| [u.full_name, u.id]},  {include_blank: "Template"})
      .field.force_block.workout_instuctions_container
        = f.label :description
        %br/
        = f.text_field :description
      %div{ id: "due_date", class: "field force_block workout_instructions_container"}
        = f.label :due_date
        %br/
        = f.text_field :due_date, class: "datepicker"
      .field.workout_instructions_container
        = f.label :instructions
        %br/
        =f.text_area :instructions, class: "workout_instructions"





    .col-md-7.button_center

      = render 'fields', f: f
      .actions
        = f.submit class: "btn btn-danger btn-lg full_width"
      = link_to 'Back', workouts_path, method: :get, class: "btn btn-primary btn-lg full_width"
