.row
  = nested_form_for(@workout) do |f|
    .col-md-7
      %h2
        = @workout.description
      %h3
        - if @workout.user
          = "Good luck #{@workout.user.first_name}!"
        - else
          Template

      - if @workout.due_date
        - if @workout.completed
          %p.completed_workout_date
            = "Completed: #{@workout.completion_date.to_formatted_s(:long_ordinal)}"
        - else
          - if @workout.due_date < Date.today
            %p.overdue_workout_date
              = "Overdue: #{@workout.due_date.to_formatted_s(:long_ordinal)}"
          -else
            %p.due_workout_date
              = "Due: #{@workout.due_date.to_formatted_s(:long_ordinal)}"
      %p
        = @workout.instructions


        - if @workout.errors.any?
          #error_explanation
            %h2
              = pluralize(@workout.errors.count, "error")
              prohibited this workout from being saved:
            %ul
              - @workout.errors.full_messages.each do |msg|
                %li= msg

      = render 'complete_fields', f: f

    .col-md-5.button_center

      .field.mark_workout_completed
        =f.label :completed, 'Workout Complete?'
        =f.check_box :completed
      .actions
        = f.submit "Save", class: "btn btn-danger btn-lg full_width"
        =link_to "Back", workout_path(@workout), method: :get, class: "btn btn-primary btn-lg full_width"