
  <b>Description:</b>
  <%= @workout.description %>
</p>

<p>
  <b>Due date:</b>
  <%= @workout.due_date %>
</p>

<p>
  <b>User:</b>
  <%= @workout.user %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
