.row
  .col-md-7
    %h2
      - if @workout.user
        - if @workout.user == current_user
          = @workout.description
        -else
          = "#{@workout.description}: #{@workout.user.full_name}"
      - else
        = "#{@workout.description}: TEMPLATE"

    - if @workout.due_date
      - if @workout.completed
        %p.completed_workout_date
          = "Completed: #{@workout.completion_date.to_formatted_s(:long_ordinal)}"
      - else
        - if @workout.due_date < Date.today
          %p.overdue_workout_date
            = "Overdue: #{@workout.due_date.to_formatted_s(:long_ordinal)}"
        -else
          %p.due_workout_date
            = "Due: #{@workout.due_date.to_formatted_s(:long_ordinal)}"

    %p
      = @workout.instructions

    - @workout.exercise_sets.each do |set|
      %h3.exercise_set_header
        = exercise_set_heading(set)
      %ul.exercise_set
        - if set.set_records.any?
          %li.achieved_weight
            Weight:
            =weights_list(set)
        -unless set.notes.blank?
          %li.notes
            Notes:
            = set.notes
      -unless @workout.completed
        - if (@workout.user && @workout.user == current_user)
          -if set.reps.blank?
            = link_to "+ Notes", edit_exercise_set_path(set), class: "btn btn-primary btn-xs"
          -else
            = link_to "+ Weights", edit_exercise_set_path(set), class: "btn btn-primary btn-xs"
            .pb
              = "PB: #{@workout.user.personal_bests[set.exercise.name]}kg" if @workout.user.personal_bests[set.exercise.name]

  .col-md-5.button_center.workout_show
    - if @workout.user
      - if @workout.user == current_user
        - if @workout.completed
          = button_to "Mark Incomplete", complete_workout_path(@workout), method: :post, class: "btn btn-success btn-lg full_width"
        -else
          = button_to "Mark Complete", complete_workout_path(@workout), method: :post, class: "btn btn-success btn-lg full_width"
        = button_to 'My Workouts', user_path(current_user), method: :get, class: "btn btn-primary btn-lg full_width"
      - else
        = button_to "#{@workout.user.first_name.possessive} workouts", user_path(@workout.user), method: :get, class: "btn btn-success btn-lg full_width"
        = button_to 'All Workouts', workouts_path, method: :get, class: "btn btn-primary btn-lg full_width"
    -else
      = button_to 'All Workouts', workouts_path, method: :get, class: "btn btn-primary btn-lg full_width"
    -if can? :manage, :all
      .edit_copy
        -if @workout.completed
          = link_to "Copy", duplicate_workout_path(@workout), method: :post, class: "btn btn-warning btn-lg full_width"
        -else
          = link_to 'Edit', edit_workout_path(@workout), class: "btn btn-default btn-lg half_width"
          = link_to "Copy", duplicate_workout_path(@workout), method: :post, class: "btn btn-warning btn-lg half_width"
.row
  .spacer


















