%h2
  -if @user == current_user
    My Workouts:
  -else
    = "#{@user.full_name.possessive} Workouts:"


.row
  .col-md-5
    %h3
      Outstanding
    -if @outstanding_workouts.blank?
      %p.no_records No Records
    -else
      %ul.workout_list
        -@outstanding_workouts.each do |workout|
          %li{ class: (workout.due_date < Date.today ? "overdue" : "due")}
            %p.admin_workout_description
              =workout.description
            %p
              = list_exercises(workout)
            %p.completion
              - if workout.due_date < Date.today
                = "Overdue: #{workout.due_date.to_formatted_s(:long_ordinal)}"
              -else
                = "Due: #{workout.due_date.to_formatted_s(:long_ordinal)}"
            = link_to "View", workout_path(workout), class: "btn btn-primary btn-xs "
      = paginate @outstanding_workouts, param_name: 'page_2'
      %br

  .col-md-5
    %h3
      Completed
    -if @completed_workouts.blank?
      %p.no_records No Records
    -else
      %ul.workout_list
        -@completed_workouts.each do |workout|
          %li.completed
            %p.admin_workout_description
              = workout.description
            %p
              = list_exercises(workout)
            %p.completion
              = "Completed: #{workout.completion_date.to_formatted_s(:long_ordinal)}"
            = link_to "View", workout_path(workout),  class: "btn btn-primary btn-xs "
      = paginate @completed_workouts
  .col-md-2.maximums_column

    %h3
      Maximums
    %ul.maximums
      - @grouped_exercises.each do |key, value|
        %li.maximum
          ="#{key}: #{value}kg"
