%h2
  = "My Workouts: #{@user.full_name}"
.row
  .col-md-4
    %h3
      Outstanding
    %ul.workout_list
      -@outstanding_workouts.each do |workout|
        %li{ class: (workout.due_date < Date.today ? "overdue" : "due")}
          %h5
            =workout.description
          %p
            = list_exercises(workout)
          %p.completion
            - if workout.due_date < Date.today
              = "Overdue: #{workout.due_date.to_formatted_s(:long_ordinal)}"
            -else
              = "Due: #{workout.due_date.to_formatted_s(:long_ordinal)}"
          = link_to "View", workout_path(workout), class: "btn btn-primary btn-xs "
    = paginate @outstanding_workouts, param_name: 'page_2'

  .col-md-4
    %h3
      Completed
    %ul.workout_list
      -@completed_workouts.each do |workout|
        %li.completed
          %h5
            = workout.description
          %p
            = list_exercises(workout)
          %p.completion
            = "Completed: #{workout.completion_date.to_formatted_s(:long_ordinal)}"
          = link_to "View", workout_path(workout),  class: "btn btn-primary btn-xs "
    = paginate @completed_workouts

  .col-md-4
    %h3 Maximums
    %ul.maximums
      - @grouped_exercises.each do |key, value|
        %li

          ="#{key}: #{value}kg"
