= nested_form_for(@exercise_set) do |f|
  - if @exercise_set.errors.any?
    #error_explanation
      %h2
        = pluralize(@exercise_set.errors.count, "error")
        prohibited this exercise_set from being saved:
      %ul
        - @exercise_set.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-5
      .field.force_block
        = f.label :notes
        %br/
        = f.text_field :notes
      -unless @exercise_set.reps.blank?
        =render 'fields', f: f
    .col-md-7.button_center
      .actions
        = f.submit "Save", class: "btn btn-danger btn-lg full_width"
      = link_to "Back", @exercise_set.workout, class: "btn btn-primary btn-lg full_width"