<h1>Listing exercise_sets</h1>

<table>
  <tr>
    <th>Exercise</th>
    <th>Reps</th>
    <th>Rest period</th>
    <th>Weight required</th>
    <th>Suggested weight</th>
    <th>Achieved weight</th>
    <th>Workout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercise_sets.each do |exercise_set| %>
  <tr>
    <td><%= exercise_set.exercise %></td>
    <td><%= exercise_set.reps %></td>
    <td><%= exercise_set.rest_period %></td>
    <td><%= exercise_set.weight_required %></td>
    <td><%= exercise_set.suggested_weight %></td>
    <td><%= exercise_set.achieved_weight %></td>
    <td><%= exercise_set.workout %></td>
    <td><%= link_to 'Show', exercise_set %></td>
    <td><%= link_to 'Edit', edit_exercise_set_path(exercise_set) %></td>
    <td><%= link_to 'Destroy', exercise_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise set', new_exercise_set_path %>
